@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: unset;
    box-sizing: border-box;
    outline: none;
}


.bac::after , .bfc::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .3s;
}


html.dark .bfc::before{
    background-image: linear-gradient(45deg   , #000 , #000 ,#ffffffc2);

}

html.dark .bac::after{
    background-image: linear-gradient(45deg   , #ffffff79 , #ffffff00 ,#000);
}

html.light .bfc::before{
    background-image: linear-gradient(45deg   , #fff , #fff ,#000000c2);
}

html.light .bac::after{
    background-image: linear-gradient(45deg   , #000000c2 , #0000000d ,#fff);
}

/* @media(prefers-color-scheme: light){
    .bfc::before{
    }
} */


.blur-c {
    background-color: rgba(128, 128, 128, 0);
    backdrop-filter: blur(27px);
}

.gradiant {
    background-image: linear-gradient(to right, rgb(6, 95, 95), #555);
}

.hide-scrollbar{
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar{
    width: 0px;
}

.p-unset{
    padding: unset;
}

.text-shadow{
    text-shadow: rgb(34 211 238) 1px 1px 20px;
}

.ltrD{
    direction: ltr;
}

.click{
    animation: click .2s linear;
}

progress::-moz-progress-bar{
    background-color: rgb(34 211 238);
}

progress::-webkit-progress-bar{
    background-color: rgb(34 211 238);
}

i, button , input , a , figure , img, span{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

@keyframes click{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.7);
    }
    100%{
        transform: scale(1);
    }
}

@media (min-width:767px) {
    .nav-aside {
        position: fixed;
        top: 10px;
        left: 15px;
        height: calc(100% - 20px);
        width: 300px;
        border-radius: 10px;
    }

    .sh-nav-aside {
        box-shadow: #111 1px 1px 30px 10px;
    }
}